.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.capa {
  text-align: left;
  margin-top: 150px;
  margin-left: 10ch ;
  bottom: 12%;
  width: 900%;
  height: 580%;
}

.logo{
  text-align: left;
  margin-top: 150px;
  margin-left: 10ch ;
  background-position: 100%;
  bottom: 12%;
  position: static;
  color: rgb(209, 37, 94);
  width: 590;
  height: 85;
}

.caixa{
  text-align: left;
  margin-left: 10ch ;
}

